.home-header {
    position: relative;
    background-image: url('../assets/alderman-and-peabody.jpg');
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(20px + 2vmin);
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
}

.home-header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 0;
}

.home-content, .home-header h1 {
    position: relative;
    z-index: 1;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
    color: white;
    text-shadow: 
        3px 3px 0px rgba(0, 0, 0, 0.2),
        6px 6px 0px rgba(0, 0, 0, 0.2),
        9px 9px 0px rgba(0, 0, 0, 0.2);
}

.home {
    overflow-y: scroll;
    height: 100vh;
}

.item, .detailed-item {
    transition: transform 0.3s ease-in-out;
}

.detailed-item {
    transform: translateY(-100%);
}

@media (max-width: 768px) {
    .item {
        flex: 1 1 48%;
    }
}

@media (max-width: 480px) {
    .item {
        flex: 1 1 100%;
    }
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 15px; /* Space between buttons */
    position: absolute;
    bottom: 20px; /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: transparent; /* Transparent background */
    color: white;
    border: 2px solid white; /* White border for the button */
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease; /* Smooth transitions */
}

button:hover {
    background-color: white; /* On hover, the background becomes white */
    color: black; /* Text turns black */
    border-color: white; /* Keep the border white on hover */
}
.view-items-padding{
    padding: 40px;
    padding-bottom: 80px;
}
.listing{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.view-items-title{
    text-align: center;
    margin-bottom: 20px;
}


::-webkit-scrollbar{
    display: none;
}